<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--AADSwitch Start--><!--
   <add key="SSO.AAD.TenantId" value=""/>
    <add key="SSO.AAD.ClientId" value=""/>
    --><!--AADSwitch Ends-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" /> 
     <identity impersonate="false" />
    <authorization>
      <!--AADSwitch Start--><!--
      <deny users="?" />
       --><!--AADSwitch Ends-->
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--AADSwitch Start--><!--
      <add name="AADAutheticationModule" type="KPMG.Web.Security.AADAutheticationModule, KPMG.Web.Security.AAD" preCondition="" />
        --><!--AADSwitch Ends-->
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
  </system.webServer>  
</configuration>